<%- include  header.ejs %>

<main>
  <h2>ADMIN FORM</h2>

  <form action="/add-new-outfit/submit" method="POST">

    <label for="description">Description</label>
    <textarea name="description" required></textarea>

    <label for="dressCode">Dress Code</label>
    <select name="dressCode">
      <option value="casual">Casual</option>
      <option value="formal">Formal</option>
    </select>

    <label for="time">time</label>
    <select name="time">
      <option value="morning">morning</option>
      <option value="afternoon">afternoon</option>
      <option value="evening">evening</option>
    </select>

    <label for="weather">weather</label>
    <select name="weather">
      <option value="sunny">sunny</option>
      <option value="wet">wet</option>
      <option value="cloudy">cloudy</option>
      <option value="cold">cold</option>
    </select>

    <label for="location">location</label>
    <select name="location">
      <option value="inside">Inside Event</option>
      <option value="outside">Outside Event</option>
      <option value="both">Combination of both</option>
    </select>


    <label for="description">Image URL</label>
    <input type="text" name="img"></input>
    <button type="submit" name="submit">Save my Outfit!</button>
  </form>

</main>

<%- include  footer.ejs %>
