<footer>
  <nav>
    <ul>
      <li>
        <a href="/todayoutfit">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <h5>Today's Outfit</h5>
        </a>
      </li>
      <li>
        <a href="/addfuture">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h5>Future Outfit</h5>
        </a>
      </li>
      <li>
        <a href="profile">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h5>My Profile</h5>
        </a>
    </ul>
  </nav>
</footer>
</section>
</body>
</html>
