<!DOCTYPE html>
<html>
<head>
  <title>Tara's Online Wardrobe</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <section class="app-container">
    <header>
      <a href="/">
        <h1>Tara's Online Wardrobe<i aria-hidden="true"></i></h1>
      </a>
    </header>
