<%- include  header.ejs %>

<main>
 <ul>
   <li><a>Change my profile picture</a></li>
   <li><a>Add clothing to my online wardrobe</a></li>
   <li><a>Change my subscription</a></li>
   <li><a>Log Out</a></li>
  </ul>
</main>

<%- include  footer.ejs %>
