<%- include  header.ejs %>
<main>
  <h2>Based on your results you've matched with this outfit!</h2>

  <div class="slide">
    <% if(result.img){ %>
    <img src="<%= result.img %>" style="width:100%"/>
    <%  } %>
    <h3><%= result.description %></h3>
  </div>

</main>
<%- include  footer.ejs %>
