<%- include header.ejs %>
  <main>
  <div
    <div id="slider">
      <div id="slide-holder">
        <div class="slide">
          <img src="https://hips.hearstapps.com/mac.h-cdn.co/assets/15/27/1435940392-mc-beyonce-style.jpg" alt="" />
        </div>
        <div class="slide">
          <img class="mySlides w3-animate-fading" img src="https://img.huffingtonpost.com/asset/567623db1f0000c000e9c3b1.jpeg?ops=scalefit_600_noupscale" style="width:100%"/>
        </div>
        <div class="slide">
          <img src="http://www2.pictures.stylebistro.com/fp/Kourtney+Kardashian+Pajamas+Intimates+Bodysuit+alkx2SuonMvx.jpg" alt="" />
        </div>
      </div>
    </div>

  </div>
  </main>

<%- include footer.ejs %>
